.button {
  background-color: gray;
  color: white;
  border: 2px solid gray;
  box-sizing: border-box;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2.7px;
  text-align: center;
  width: 100%;

  &:hover {
    background-color: #737272;
  }
  &:focus {
    outline: none;
  }
  &:active {
    background-color: #676565;
  }
  &:disabled {
    background-color: #7d7d7d;
    color: #666666;
  }
}
